**For Loop**

In [1]:
# example1
for i in range(1, 6):
    print(i)
# by using range i print numbers here from 1 to 6 =(1,2,3,4,5)

1
2
3
4
5

In [2]:
# example2
for i in range(0, 11, 2):
    print(i)
# here i print even numbers from 0 to 10 by stepping of 2

0
2
4
6
8
10

In [3]:
# example3
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)
# the loop iterate over the list and print all the elements in the list on by one

apple
banana
cherry

In [4]:
# example4
total = 0
for i in range(1, 101):
    total += i
print(total)
# added all numbers from 1 to 100 to calculate their sum

5050

In [5]:
# example5
word = "hello"
for char in word:
    print(char)
# it will print all the characters of the string

h
e
l
l
o

In [6]:
# example6
numbers = [1, 2, 3, 1, 4, 1]
count = 0
for num in numbers:
    if num == 1:
        count += 1
print(count)
# it will tell how many time number 1 is there in list

3

In [7]:
# eample7
squares = []
for i in range(1, 6):
    squares.append(i**2)
print(squares)
# it will print the list of squares of numbers from 1 to 5

[1, 4, 9, 16, 25]

In [9]:
# example8
for i in range(1, 11):
    print(f"3 x {i} = {3 * i}")
# it will print the multiplication table of 3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [10]:
# example9
person = {'name': 'Alice', 'age': 25, 'city': 'New York'}
for key, value in person.items():
    print(f"{key}: {value}")
# it will print all key value pairs that are in dictionary

name: Alice
age: 25
city: New York

In [12]:
# example10
for i in range(1,33):
    print(i)
    # it will print numers from 1 to 32

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

**Nested Loops**

In [13]:
# example1
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end=" ")
    print()
# it will print a 5x5 multiplication table from 1 to 5

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [14]:
# example2
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()
# here's a * pattern that will be printed in right-angle triangle format

*
**
***
****
*****

In [15]:
# example3
numbers = [1, 2, 3]
total = 0
for x in numbers:
    for y in numbers:
        total += x * y
print(total)
# it will print the sum of each pair of numbers in list(1,2,3 2,4,6 3,6,9 =36)

36

In [16]:
# example4
for i in range(1, 4):
    for j in range(1, 4):
        print(f"({i},{j})", end=" ")
    print()
# it will print coordinats for 3x3 grid

(1,1) (1,2) (1,3)
(2,1) (2,2) (2,3)
(3,1) (3,2) (3,3)

In [17]:
# example5
colors = ['red', 'green', 'blue']
sizes = ['S', 'M', 'L']
for color in colors:
    for size in sizes:
        print(f"{color} - {size}")
# it will print all possible combinations of element from given lists

red - S
red - M
red - L
green - S
green - M
green - L
blue - S
blue - M
blue - L

In [18]:
# example6
for i in range(1, 6):
    for j in range(1, 6):
        print(i, end=" ")
    print()
# it will print a pattern from 1 to 5 in which each line contain same number

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [24]:
# example7
for i in range(1, 10):
    for j in range(1, 10):
        print(f"{i * j:2}", end=" ")
    print()
it will print a multiplication table in 9x9 grid

 1  2  3  4  5  6  7  8  9
 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [21]:
# exxample8
numbers = [1, 2, 3, 7, 8]
for i in numbers:
    for j in numbers:
        if i + j == 10:
            print(f"Pair: {i}, {j}")
# it will print the pair of numbers from the list that have sum equal to 10

Pair: 2, 8
Pair: 3, 7
Pair: 7, 3
Pair: 8, 2

In [22]:
# example9
numbers = [1, 2, 3, 1, 4, 2]
count = 0
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] == numbers[j]:
            count += 1
print(count)
# it will print , how many pairs of equal numbers are exist in the given list

2

In [23]:
# example10
for i in range(3):
    for j in range(3):
        print(1, end=" ")
    print()
# it will print a 3x3 matrix where every element is 1

1 1 1
1 1 1
1 1 1